<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  
	<meta name="author" content="Gianmarco Altieri" />
	<meta name="copyright" content="GIanmarco Altieri" />
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T3W96SB');</script>
<!-- End Google Tag Manager -->
	
	<title>Gianmarco Altieri - Digital Project Manager</title>
	<meta name="description" content="Project Manager in Boraso.com">
	<meta name="keywords" content="Gianmarco Altieri, gianmarcoaltieri, H-FARM, H-ART, project manager Treviso, digital project manager, boraso">
	<meta name="robots" content="index, follow">
	<meta http-equiv="content-language" content="en">

	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:100,400' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700' rel='stylesheet' type='text/css'>

	<!-- Bootstrap -->
	<link href="css/main.css" rel="stylesheet">

</head>
