<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  
	<meta name="author" content="Gianmarco Altieri" />
	<meta name="copyright" content="GIanmarco Altieri" />
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Gianmarco Altieri - Digital Project Manager</title>
	<meta name="description" content="Digital Project Manager at Codognotto">
	<meta name="keywords" content="Gianmarco Altieri, gianmarcoaltieri, H-FARM, H-ART, project manager Treviso, digital project manager">
	<meta name="robots" content="index, follow">
	<meta http-equiv="content-language" content="en">

	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:100,400' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700' rel='stylesheet' type='text/css'>

	<!-- Bootstrap -->
	<link href="css/main.css" rel="stylesheet">

</head>
